{
    "executor": {
        "type": "debug",
        "path": "../home/cfg/checkpoint.json"
    },
    "data": {
        "path": "",
        "url": ""
    },
    "repo": {
        "systemq": "."
    }
}